:root {
    --testimonials-bg: hsl(219, 30%, 18%);
    --intro-bg: hsl(217, 28%, 15%);
    --main-bg: hsl(217.895, 28%, 13%);
    --footer-bg: hsl(216, 53%, 9%);

    --accent-teal-200: hsl(176, 68%, 64%);
    --accent-cyan-500: hsl(198, 60%, 50%);
    --accent-red: hsl(0, 100%, 63%);

    --white: hsl(0, 0%, 100%);
    --gray: hsl(0, 0%, 70%);

    --headings-typography: "Raleway", sans-serif;
    --body-typography: "Open Sans", sans-serif;
}

html {
    font-size: 14px;
    scroll-behavior: smooth;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--main-bg);
}

/* Header */
.header {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 2rem 1rem;
    background-color: var(--intro-bg);
}

.header__imageContainer {
    width: 25%;
    max-width: 10rem;
}

.header__imageContainer:is(:hover) {
    cursor: pointer;
}

.header__logo {
    width: 100%;
    height: 100%;
}

.header__navigation {
    width: 60%;
}

.header__navigation ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
}

.header__link {
    color: var(--gray);
    text-align: center;
    text-decoration: none;
    font-family: var(--headings-typography);
    cursor: pointer;
    transition: color 0.3s linear;
    font-size: clamp(1rem, 4vw, 1.2rem);
}

.header__link:is(:hover, :focus) {
    color: var(--white);
    text-decoration: underline;
}

/* Introduction Section */
.introduction {
    position: relative;
    background: linear-gradient(to bottom, var(--intro-bg), var(--main-bg));
}

.introduction__container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding:0 1rem;
    position: relative;
    z-index: 2;
    gap: clamp(1rem, 5vw, 2rem);
    text-align: center;
}

.introduction__imageContainer {
    width: 100%;
    max-width: 35rem;
}

.introduction__image {
    width: 100%;
    height: 100%;
}

.introduction__title {
    max-width: 50rem;
    color: var(--white);
    font-family: var(--headings-typography);
    font-size: clamp(1.8rem, 6vw, 3rem);
    font-weight: 700;
}

.introduction__description {
    max-width: 40rem;
    line-height: 1.6;
    color: var(--white);
    font-size: clamp(1rem, 4vw, 1.2rem);
    font-family: var(--body-typography);
}

.introduction__link {
    width: 80%;
    max-width: 30rem;
    padding: 1rem;
    display: block;
    color: var(--white);
    outline: 1px solid transparent  ;
    border-radius: 50px;
    text-decoration: none;
    font-size: clamp(1rem, 4vw, 1.2rem);
    transition: background 0.3s linear;
    font-family: var(--headings-typography);
    background: linear-gradient(to right, var(--accent-teal-200), var(--accent-cyan-500) );
}

.introduction__link:is(:hover, :focus) {
    background: linear-gradient(to left, var(--accent-teal-200), var(--accent-cyan-500) );
}
.introduction__waveContainer {
    width: 100%;
    height: clamp(17rem, 20vw, 20rem);
    bottom: 4.5rem;
    position: absolute;
}

.introduction__wave {
    width: 100%;
    height: 100%;
}

/* Services */
.services {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: clamp(5rem, 10vw, 10rem);
    padding: clamp(5rem, 7vw, 7rem) clamp(1rem, 2vw, 2rem);
}

.card {
    width: 90%;
    max-width: clamp(22rem, 30vw, 30rem);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    text-align: center;
}

.card__image {
    width: 100%;
    height: 100%;
}

.card__title {
    color: var(--white);
    font-size: clamp(1.4rem, 3vw, 2rem);
    font-family: var(--headings-typography);
}

.card__description {
    color: var(--white);
    font-size: clamp(1rem, 4vw, 1.2rem);
    font-family: var(--body-typography);
    line-height: 1.6;
}

/* Info Section */
.info {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: clamp(2rem, 6vw, 6rem);
    padding: clamp(2rem, 5vw, 4rem) clamp(2rem, 2vw, 2rem);
}

.info__imageContainer {
    width: 100%;
    max-width: 35rem;
}

.info__image {
    width: 100%;
}

.info__text {
    width: 100%;
    max-width: 40rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
    gap: 1.5rem;
}

.info__title {
    font-family: var(--headings-typography);
    font-size: clamp(1.4rem, 6vw, 3rem);
    color: var(--white);
}

.info__paragraph {
    line-height: 1.6;
    color: var(--white);
    font-size: clamp(1rem, 4vw, 1.2rem);
    font-family: var(--body-typography);
}

.info__linksContainer {
    width: 57%;
    max-width: 13rem;
    display: flex;
    align-items: center;
    position: relative;
    padding-block-end: 1rem;
    border-bottom: 2px solid var(--accent-teal-200);
    margin: 0 auto;
}

.info__linksContainer:is(:hover, :focus-within) {
    cursor: pointer;
}

.info__link {
    text-decoration: none;
    color: var(--accent-teal-200);
    font-family: var(--body-typography);
    font-size: clamp(1rem, 4vw, 1.2rem);
}

.info__link:is(:focus) {
    outline: 1px solid var(--accent-teal-200);
}

.info__arrow {
    position: absolute;
    right: 0;
}

/* Review Section */
.review {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: clamp(4rem, 5vw, 6rem) 1rem;
}

.review__cardContainer {
    width: 100%;
    max-width: 100rem;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 2.5rem;
}

.review__cardContainer::before {
    content: url('../images/bg-quotes.png');
    position: absolute;
    left: 1rem;
    top: -2.5rem;
    z-index: -1;
}

.review__card {
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 1.5rem;
    padding: 2rem clamp(1.2rem, 4vw, 2rem);
    border-radius: 10px;
    background-color: var(--testimonials-bg);
}

.review__description {
    color: var(--white);
    text-align: justify;
    line-height: 1.6;
    font-family: var(--body-typography);
    font-size: clamp(1rem, 4vw, 1.2rem);
}

.review__container {
    display: flex;
    gap: 1rem;
}

.review__imageContainer {
    width: 3rem;
    height: 3rem;
}

.review__image {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.review__textContainer {
    color: var(--white);
    font-family: var(--body-typography);
    flex: 1;
}

.review__author {
    font-family: var(--body-typography);
    font-size: clamp(1rem, 4vw, 1.2rem);
}

.review__position {
    font-size: clamp(0.8rem, 2vw, 1rem);
    font-family: var(--body-typography);
    color: var(--gray);
}

/* Form Section */
.footer {
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: clamp(3rem, 4vw, 7rem) clamp(2rem, 7vw, 7rem);
    padding-bottom: 0;
    margin-block-start: 15rem;
    background-color:var(--footer-bg);
}

.footer__imageContainer { 
    width: 100%;
    margin-block-start: 11rem;
}

.footer__img {
    width: 50%;
    max-width: 10rem;
    height: 100%;
}

.footer__container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 2.5rem 0;
    padding-bottom: 1rem;
}

.footer__textContainer {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.footer__locationImage,
.footer__emailImage,
.footer__telImage{
    width: 15px;
    height: 16px;
}

.footer__locationDescription {
    color: var(--white);
    line-height: 1.6;
    font-family: var(--body-typography);
    font-size: clamp(1rem, 2vw, 1.2rem);
    width: 90%;
}

.footer__emailContainer {
    width: 100%;
}

.footer__emailContainer div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 2rem 0;
}

.footer__link {
    width: 90%;
    text-decoration: none;
    color: var(--white);
    font-size: clamp(1rem, 2vw, 1.2rem);
    font-family: var(--body-typography);
}

.footer__link:hover {
    text-decoration: underline;
}

.footer__link:focus-visible {
    outline: 1px solid var(--white);
    text-decoration: underline;
}

.footer__infoContainer {
    width: 100%;
    margin: 2rem 0 1rem 0;
}

.footer__infoContainer ul {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
    gap: 1rem;
    list-style: none;
}

.footer__socialContainer {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 7rem 0 0 0;
}

.footer__icon {
    margin: 0 0.5rem;
    font-size: clamp(1rem, 2vw, 1.5rem);
    cursor: pointer;
    color: var(--white);
    padding: 0.5rem;
    border: 1px solid var(--white);
    border-radius: 50%;
    transition: border 0.3s linear, color 0.3s linear;
}

.footer__icon:is(:hover, :focus) {
    color: var(--accent-teal-200);
    border: 1px solid var(--accent-teal-200);
}

/* Form Section */
.form {
    width: 85%;
    max-width: 50rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1.5rem;
    position: absolute;
    top: -23%;
    padding: 2rem;
    margin: 0 auto;
    border-radius: 10px;
    text-align: center;
    color: var(--white);
    background-color: var(--intro-bg);
}

.form__title {
    font-family: var(--headings-typography);
    font-size: clamp(1.2rem, 6vw, 2rem );
}

.form__description {
    line-height: 1.6;
    font-family: var(--body-typography);
    font-size: clamp(1rem, 2vw, 1.2rem);
}

.form__formContainer {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 1.5rem;
}

.form__input,
.form__button {
    width: 100%;
    outline: none;
    border: none;
    border-radius: 30px;
    font-family: var(--body-typography);
    font-size: clamp(1rem, 2vw, 1.2rem);
}

.form__input {
    padding: 0.7rem clamp(1rem, 2vw, 1.5rem);
}

.form__button {
    cursor: pointer;
    padding: 0.7rem;
    color: var(--white);
    background: linear-gradient(to right, var(--accent-teal-200), var(--accent-cyan-500));
}

.form__button:is(:hover, :focus) {
    background: linear-gradient(to right, var(--accent-cyan-500), var(--accent-teal-200));
}

/* Media Queries */
@media screen and (max-width: 300px) {
    .info__linksContainer img {
        display: none;
    }
}

@media screen and (min-width: 420px) {
    /* Header */
    .header {
        padding: 2rem;
        justify-content: space-between;
    }

    .header__navigation {
        width: 50%;
        max-width: 20rem;
    }

    .header__navigation ul {
        justify-content: space-between;
    }

    /* Services */
    .services {
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
    
    /* Form Section */
    .form {
        top: -18%;
    }
}

@media screen and (min-width: 769px) {
    /* Header */
    .header {
        justify-content: space-around;
    }

    /* Info */
    .info {
        flex-direction: row;
        justify-content: center;
    }
    
    /* Form Section */
    .form {
        top: -25%;
    }
    
    .form__input {
        max-width: 25rem;
    }
    
    .form__button {
        max-width: 15rem;
    }
    
    /* Footer Section */
    .footer__textContainer {
        max-width: clamp(8rem, 20vw, 30rem);
    }

    .footer__emailContainer {
        max-width: clamp(12rem, 16vw, 15rem);
    }
    
    .footer__infoContainer {
        max-width: clamp(5rem, 8vw, 8rem);
        margin: 0;
    }
}

@media screen and (min-width: 1024px) {
    /* Review Section */
    .review__card {
        max-width: 30rem;
    }
}

@media screen and (min-width: 1340px) {
    /* Info */
    .info__text {
        text-align: left;
    }
    
    .info__linksContainer {
        margin: 0;
    }
    
    /* Footer Section */
    .footer__socialContainer {
        max-width: 15rem;
        margin: 0;
        align-items: flex-start;
    }
}