:root {
    --testimonials-bg: hsl(219, 30%, 18%);
    --intro-bg: hsl(217, 28%, 15%);
    --main-bg: hsl(217.895, 28%, 13%);
    --footer-bg: hsl(216, 53%, 9%);

    --accent-teal-200: hsl(176, 68%, 64%);
    --accent-cyan-500: hsl(198, 60%, 50%);
    --accent-red: hsl(0, 100%, 63%);

    --white: hsl(0, 0%, 100%);
    --gray: hsl(0, 0%, 70%);

    --headings-typography: "Raleway", sans-serif;;
    --body-typography: "Open Sans", sans-serif;
}

html {
    font-size: 14px;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--main-bg);
}

/* Header */
.header {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 1rem;
    background-color: var(--intro-bg);
}

.header__imageContainer {
    width: 25%;
    max-width: 10rem;
}

.header__imageContainer:is(:hover) {
    cursor: pointer;
}

.header__logo {
    width: 100%;
    height: 100%;
}

.header__navigation {
    width: 60%;
}

.header__navigation ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

.header__link {
    color: var(--gray);
    text-align: center;
    text-decoration: none;
    font-family: var(--headings-typography);
    cursor: pointer;
    transition: color 0.3s linear;
}

.header__link:is(:hover, :focus) {
    color: var(--white);
    text-decoration: underline;
}

/* Introduction Section */
.introduction {
    position: relative;
    background: linear-gradient(to bottom, var(--intro-bg), var(--main-bg));
}

.introduction__container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding:0 1rem;
    position: relative;
    z-index: 2;
    gap: 1.5rem;
    text-align: center;
}

.introduction__imageContainer {
    width: 100%;
    max-width: 35rem;
}

.introduction__image {
    width: 100%;
    height: 100%;
}

.introduction__title {
    max-width: 50rem;
    font-size: 1.8rem;
    font-family: var(--headings-typography);
    font-weight: 700;
    color: var(--white);
}

.introduction__description {
    max-width: 40rem;
    line-height: 1.6;
    color: var(--white);
    font-family: var(--body-typography);
}

.introduction__link {
    width: 80%;
    max-width: 30rem;
    padding: 1rem;
    display: block;
    color: var(--white);
    outline: 1px solid transparent  ;
    border-radius: 50px;
    text-decoration: none;
    transition: box-shadow 0.3s linear, transform 0.3s linear, outline 0.3s linear;
    font-family: var(--headings-typography);
    background: linear-gradient(to right, var(--accent-teal-200), var(--accent-cyan-500) );
}

.introduction__link:is(:hover, :focus) {
    box-shadow: 0px 3px 10px rgba(255, 255, 255, 0.319);
    transform: translateY(-2px);
    outline: 1px solid var(--white);
}

.introduction__waveContainer {
    width: 100%;
    height: 17rem;
    bottom: 4.5rem;
    position: absolute;
}

.introduction__wave {
    width: 100%;
    height: 100%;
}

/* Media Queries */
@media screen and (min-width: 420px) {
    /* Header */
    .header {
        padding: 2rem;
    }

    .header__navigation {
        width: 50%;
        max-width: 20rem;
    }
    
    .header__link {
        font-size: 1.2rem;
    }

    /* Introduction */
    .introduction {
        gap: 1.8rem;
    }

    .introduction__title {
        font-size: 2.5rem;
    }

    .introduction__description {
        font-size: 1.2rem;
    }
    
    .introduction__link {
        font-size: 1.2rem;
    }

    .introduction__waveContainer {
        height: 20rem;
    }
}

@media screen and (min-width: 768px) {
    /* Header */
    .header {
        justify-content: space-around;
    }
}