:root {
    --testimonials-bg: hsl(219, 30%, 18%);
    --intro-bg: hsl(217, 28%, 15%);
    --main-bg: hsl(217.895, 28%, 13%);
    --footer-bg: hsl(216, 53%, 9%);

    --accent-teal-200: hsl(176, 68%, 64%);
    --accent-cyan-500: hsl(198, 60%, 50%);
    --accent-red: hsl(0, 100%, 63%);

    --white: hsl(0, 0%, 100%);
    --gray: hsl(0, 0%, 70%);

    --headings-typography: "Raleway", sans-serif;;
    --body-typography: "Open Sans", sans-serif;
}

html {
    font-size: 14px;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--main-bg);
}

/* Header */
.header {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 2rem 1rem;
    background-color: var(--intro-bg);
}

.header__imageContainer {
    width: 25%;
    max-width: 10rem;
}

.header__imageContainer:is(:hover) {
    cursor: pointer;
}

.header__logo {
    width: 100%;
    height: 100%;
}

.header__navigation {
    width: 60%;
}

.header__navigation ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
}

.header__link {
    color: var(--gray);
    text-align: center;
    text-decoration: none;
    font-family: var(--headings-typography);
    cursor: pointer;
    transition: color 0.3s linear;
    font-size: clamp(1rem, 4vw, 1.2rem);
}

.header__link:is(:hover, :focus) {
    color: var(--white);
    text-decoration: underline;
}

/* Introduction Section */
.introduction {
    position: relative;
    background: linear-gradient(to bottom, var(--intro-bg), var(--main-bg));
}

.introduction__container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding:0 1rem;
    position: relative;
    z-index: 2;
    gap: clamp(1rem, 5vw, 2rem);
    text-align: center;
}

.introduction__imageContainer {
    width: 100%;
    max-width: 35rem;
}

.introduction__image {
    width: 100%;
    height: 100%;
}

.introduction__title {
    max-width: 50rem;
    color: var(--white);
    font-family: var(--headings-typography);
    font-size: clamp(1.8rem, 6vw, 3rem);
    font-weight: 700;
}

.introduction__description {
    max-width: 40rem;
    line-height: 1.6;
    color: var(--white);
    font-size: clamp(1rem, 4vw, 1.2rem);
    font-family: var(--body-typography);
}

.introduction__link {
    width: 80%;
    max-width: 30rem;
    padding: 1rem;
    display: block;
    color: var(--white);
    outline: 1px solid transparent  ;
    border-radius: 50px;
    text-decoration: none;
    font-size: clamp(1rem, 4vw, 1.2rem);
    transition: background 0.3s linear;
    font-family: var(--headings-typography);
    background: linear-gradient(to right, var(--accent-teal-200), var(--accent-cyan-500) );
}

.introduction__link:is(:hover, :focus) {
    background: linear-gradient(to left, var(--accent-teal-200), var(--accent-cyan-500) );
}
.introduction__waveContainer {
    width: 100%;
    height: clamp(17rem, 20vw, 20rem);
    bottom: 4.5rem;
    position: absolute;
}

.introduction__wave {
    width: 100%;
    height: 100%;
}

/* Services */
.services {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: clamp(5rem, 10vw, 10rem);
    padding: clamp(5rem, 7vw, 7rem) clamp(1rem, 2vw, 2rem);
}

.card {
    width: 100%;
    max-width: 30rem;
    height: 18rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    text-align: center;
}

.card__image {
    width: 100%;
    height: 100%;
}

.card__title {
    color: var(--white);
    font-size: clamp(1.4rem, 3vw, 2rem);
    font-family: var(--headings-typography);
}

.card__description {
    color: var(--white);
    font-size: clamp(1rem, 4vw, 1.2rem);
    font-family: var(--body-typography);
}

/* Media Queries */
@media screen and (min-width: 420px) {
    /* Header */
    .header {
        padding: 2rem;
        justify-content: space-between;
    }

    .header__navigation {
        width: 50%;
        max-width: 20rem;
    }

    .header__navigation ul {
        justify-content: space-between;
    }

    .services {
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
}

@media screen and (min-width: 768px) {
    /* Header */
    .header {
        justify-content: space-around;
    }
}